<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="min-h-screen bg-gray-100">
    <nav class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto sm:w-3/4 px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="flex-shrink-0 flex items-center">
              <a href="/"><h1 class="text-3xl"><font-awesome-icon :icon="['fas', 'user-shield']" class="mx-2" fixed-width />ShareSec</h1></a>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center">
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
          </div>
        </div>
      </div>
    </nav>

    <div class="py-4 sm:py-10">
      <main>
        <div class="max-w-7xl w-full mx-auto px-2 sm:px-6 lg:px-8 sm:w-3/4">
          <Nuxt />
        </div>
      </main>
    </div>
  </div>
</template>
