<template>
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
      <span v-if="notFound">That note could not be found. It might have already been destroyed.</span>
      <span v-if="!text && !notFound">Your note is ready to be decrypted and destroyed</span>
      <span v-if="text && !notFound">The note has been destroyed, please keep a copy as you won't be able to get it again.</span>
    </div>
    <div v-if="text" class="px-4 py-5 sm:p-6">
      <div class="mt-1">
        <textarea
          name="note"
          id="note"
          class="shadow-inner bg-gray-200 font-mono focus:ring-indigo-500 p-4 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          rows="10"
          v-model="text"
          readonly />
      </div>
    </div>
    <div v-if="!text && !notFound" class="bg-gray-100 px-4 py-4 sm:px-6">
      <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" @click="getAndDestroyMessage">
        <font-awesome-icon :icon="['fas', 'lock']" class="mr-2" fixed-width></font-awesome-icon>
        Open and destroy note
      </button>
    </div>
  </div>
</template>

<script>
export default {
  asyncData({ params }) {
    const id = params.id;
    return { id };
  },
  data() {
    return {
      text: null,
      notFound: false,
    }
  },
  methods: {
    async getAndDestroyMessage() {
      try {
        const res = await fetch(`${process.env.baseUrl}/api/open/${this.id}`, {
          method: 'GET',
          mode: 'cors',
        });

        debugger;
        if (res.status === 404) {
          this.notFound = true;
          return
        }

        const json = await res.json()

        if (json.text) {
          this.text = json.text;
        }
      } catch (e) {
        console.log(e)
      }
    },
  },
};
</script>
