<template>
  <form id="create-note" @submit.prevent="createSecureNote">
    <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
      <div class="px-4 py-5 sm:px-6">
        <span class="text-xl">Paste your note here and we'll create a self-destructing message for you to share.</span>
      </div>
      <div v-if="!url" class="px-4 py-5 sm:p-6">
        <div class="mt-1">
          <textarea
            name="note"
            id="note"
            required
            minlength="1"
            class="shadow-inner bg-gray-200 font-mono focus:ring-indigo-500 p-4 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="10"
            v-model="note"
            placeholder="This is a super secret note..."/>
        </div>
      </div>
      <div v-if="url" class="px-4 py-5 sm:p-6">
        <div class="px-4 py-2 bg-gray-300 shadow-inner rounded">
          <span class="text-lg sm:text-2xl text-gray-700 cursor-pointer" @click="copyLink">{{url}}</span>
        </div>
        <p v-if="!copied" class="text-sm text-gray-600">Click link to copy</p>
        <p v-if="copied" class="text-sm text-gray-600">Copied to clipboard!</p>
      </div>
      <div v-if="!url" class="bg-gray-100 px-4 py-4 sm:px-6 flex flex-col sm:flex-row sm:items-center">
        <button type="submit" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" >
          <font-awesome-icon :icon="['fas', 'lock']" class="mr-2" fixed-width></font-awesome-icon>
          Create Secure Note
        </button>
        <span class="text-gray-600 sm:ml-4">Notes expire after 24 hours if not read.</span>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      note: '',
      id: null,
      copied: false,
    }
  },
  computed: {
    url() {
      if (this.id) {
        return `${window.location.href}open/${this.id}`;
      }
      return null;
    }
  },
  methods: {
    async createSecureNote() {
      const result = await fetch(`${process.env.baseUrl}/api/share`, {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify({ textToShare: this.note }),
      });

      const json = await result.json();

      this.id = json.id;
    },
    async copyLink() {
      try {
        await this.$copyText(this.url);
        this.copied = true;
      } catch (e) {
        console.error(e);
      }
    },
  }
};
</script>
